 all {-webkit-locale: "en";
direction: ltr;
unicode-bidi: isolate;
box-sizing: border-box;
scroll-behavior: smooth;
outline-offset: 2px;
-webkit-font-smoothing: antialiased;
margin: 0;
padding: 0;
-webkit-text-size-adjust: 100%;
block-size: -webkit-fill-available;
font-size: var(--tds-base-font_size);
font-weight: 400;
line-height: var(--tds-base-line_height);
height: fit-content;
--tds-animation-bezier-base: cubic-bezier(0.5,0,0,0.75);
--tds-ui-opacity-100: 1;
--tds-ui-opacity-70: 0.7;
--tds-ui-opacity-50: 0.5;
--tds-ui-opacity-30: 0.3;
--tds-ui-opacity-0: 0;
--tds-ui-box-shadow-off: 0 0 0 0 transparent;
--tds-component-pill-padding-inline: 20px;
--tds-size-half: 4px;
--tds-size-base: 8px;
--tds-size-9x: 72px;
--tds-size-8x: 64px;
--tds-size-7x: 56px;
--tds-size-6x: 48px;
--tds-size-5x: 40px;
--tds-size-4x: 32px;
--tds-size-3x: 24px;
--tds-size-2x: 16px;
--tds-size-13x: 104px;
--tds-size-12x: 96px;
--tds-size-11x: 88px;
--tds-size-10x: 80px;
--tds-font-weight-xlight: 200;
--tds-font-weight-medium: 500;
--tds-font-weight-light: 300;
--tds-font-weight-book: 400;
--tds-font-weight-bold: 700;
--tds-font-size-75: 34px;
--tds-font-size-70: 28px;
--tds-font-size-55: 23px;
--tds-font-size-50: 20px;
--tds-font-size-40: 17px;
--tds-font-size-30: 14px;
--tds-font-size-20: 12px;
--tds-font-size-10: 10px;
--tds-font-line-height-unitless: 1.414;
--tds-font-line-height-75: 45px;
--tds-font-line-height-70: 36px;
--tds-font-line-height-60: 28px;
--tds-font-line-height-40: 23px;
--tds-font-line-height-30: 21px;
--tds-font-line-height-20: 20px;
--tds-font-line-height-10: 18px;
--tds-font-family-thai: "Noto Sans Thai";
--tds-font-family-monospace: "Fira Code",SFMono-Regular,Consolas,"Liberation Mono",Menlo,monospace;
--tds-font-family-latin-alt: "Universal Sans";
--tds-font-family-latin: "Gotham SSm";
--tds-font-family-korean: "FB New Gothic";
--tds-font-family-japanese: "AXIS Font Japanese W55","Hiragino Sans";
--tds-font-family-hebrew: "Noto Sans Hebrew";
--tds-font-family-chinese-traditional: "PingFang TC","Microsoft YaHei";
--tds-font-family-chinese-simplified: "PingFang SC","Microsoft YaHei";
--tds-font-family-chinese-hk: "PingFang HK","Microsoft YaHei";
--tds-font-family-base: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
--tds-font-family-arabic: "Noto Sans Arabic";
--tds-color-yellow: #fbb01b;
--tds-color-white: #fff;
--tds-color-red-20: #ed4e3b;
--tds-color-red-10: #b74134;
--tds-color-grey-70: #f4f4f4;
--tds-color-grey-65: #eee;
--tds-color-grey-60: #e2e3e3;
--tds-color-grey-50: #d0d1d2;
--tds-color-grey-45: #bbb;
--tds-color-grey-40: #a2a3a5;
--tds-color-grey-35: #8e8e8e;
--tds-color-grey-30: #5c5e62;
--tds-color-grey-25: #444;
--tds-color-grey-20: #393c41;
--tds-color-grey-15: #222;
--tds-color-grey-10: #171a20;
--tds-color-green: #12bb00;
--tds-color-blue-40: #3368ff;
--tds-color-blue-30: #3e6ae1;
--tds-color-blue-20: #3457b1;
--tds-color-black: #000;
--tds-border-width-small: 1px;
--tds-border-width-medium: 2px;
--tds-border-width-large: 3px;
--tds-border-width-hairline: 0.5px;
--tds-border-radius-outline-only: 0.001px;
--tds-border-radius-form-item: 20px;
--tds-border-radius-circle: 100%;
--tds-ui-box-shadow-small: 0 var(--tds-size-half) var(--tds-size-base) 0 rgba(0,0,0,.08);
--tds-ui-box-shadow-medium: 0 var(--tds-size-base) var(--tds-size-2x) 0 rgba(0,0,0,.12);
--tds-ui-box-shadow-large-reverse: 0 -8px var(--tds-size-2x) 0 rgba(0,0,0,.16);
--tds-ui-box-shadow-large: 0 var(--tds-size-base) var(--tds-size-2x) 0 rgba(0,0,0,.16);
--tds-component-pill-padding-block: var(--tds-size-2x);
--tds-component-pill-height: var(--tds-size-5x);
--tds-component-card-padding: var(--tds-size-2x);
--tds-size-1x: var(--tds-size-base);
--tds-font-size-80: var(--tds-size-5x);
--tds-font-size-60: var(--tds-size-3x);
--tds-font-line-height-80: var(--tds-size-6x);
--tds-font-line-height-50: var(--tds-size-3x);
--tds-border-radius-pill: var(--tds-size-4x);
--tds-border-radius-card: var(--tds-size-base);
--tds-border-radius-base: var(--tds-size-half);
--tds-theme-background-container-alt-highlight: rgba(0,0,0,.075);
--tds-theme-background-container-alt: rgba(0,0,0,.05);
--tds-theme-secondary-warning: var(--tds-color-yellow);
--tds-theme-secondary-positive: var(--tds-color-green);
--tds-theme-secondary-negative: var(--tds-color-red-10);
--tds-theme-primary-highlight: var(--tds-color-blue-20);
--tds-theme-primary: var(--tds-color-blue-30);
--tds-theme-foreground-primary: var(--tds-color-blue-30);
--tds-theme-foreground-on-primary: var(--tds-color-white);
--tds-theme-foreground-low-contrast: var(--tds-color-grey-30);
--tds-theme-foreground-inverse: var(--tds-color-black);
--tds-theme-foreground-high-contrast: var(--tds-color-grey-10);
--tds-theme-foreground: var(--tds-color-grey-20);
--tds-theme-border-low-contrast: var(--tds-color-grey-60);
--tds-theme-border: var(--tds-color-grey-50);
--tds-theme-background-dialog: var(--tds-color-white);
--tds-theme-background: var(--tds-color-white);
--tds-theme-background-container-highlight: var(--tds-color-grey-65);
--tds-theme-background-container: var(--tds-color-grey-70);
--tds-bezier: cubic-bezier(0.5,0,0,0.75);
--tds-size: 8px;
--tds-size--10x: 80px;
--tds-size--11x: 88px;
--tds-size--12x: 96px;
--tds-size--13x: 104px;
--tds-size--1x: 8px;
--tds-size--2x: 16px;
--tds-size--3x: 24px;
--tds-size--4x: 32px;
--tds-size--5x: 40px;
--tds-size--6x: 48px;
--tds-size--7x: 56px;
--tds-size--8x: 64px;
--tds-size--9x: 72px;
--tds-size--half: 4px;
--tds-color--black: #000;
--tds-color--blue10: #2e4994;
--tds-color--blue20: #3457b1;
--tds-color--blue30: #3e6ae1;
--tds-color--green: #12bb00;
--tds-color--grey10: #171a20;
--tds-color--grey15: #222;
--tds-color--grey20: #393c41;
--tds-color--grey25: #444;
--tds-color--grey30: #5c5e62;
--tds-color--grey35: #8e8e8e;
--tds-color--grey40: #a2a3a5;
--tds-color--grey45: #bbb;
--tds-color--grey50: #d0d1d2;
--tds-color--grey60: #e2e3e3;
--tds-color--grey65: #eee;
--tds-color--grey70: #f4f4f4;
--tds-color--red10: #b74134;
--tds-color--red20: #ed4e3b;
--tds-color--white: #fff;
--tds-color--yellow: #fbb01b;
--tds-font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
--tds-font-family--arabic: "Noto Sans Arabic";
--tds-font-family--chinese-hk: "PingFang HK","Microsoft YaHei";
--tds-font-family--chinese-simplified: "PingFang SC","Microsoft YaHei";
--tds-font-family--chinese-traditional: "PingFang TC","Microsoft YaHei";
--tds-font-family--hebrew: "Noto Sans Hebrew";
--tds-font-family--japanese: "AXIS Font Japanese W55","Hiragino Sans";
--tds-font-family--korean: "FB New Gothic";
--tds-font-family--latin: "Gotham SSm";
--tds-font-family--monospace: "Fira Code",SFMono-Regular,Consolas,"Liberation Mono",Menlo,monospace;
--tds-font-family--thai: "Noto Sans Thai";
--tds-font-weight--bold: 700;
--tds-font-weight--book: 400;
--tds-font-weight--light: 300;
--tds-font-weight--medium: 500;
--tds-font-weight--xlight: 200;
--tds-blur--button: 16px;
--tds-blur--large: 8px;
--tds-blur--small: 4px;
--tds-border-radius: 4px;
--tds-border-radius--card: 4px;
--tds-border-radius--card--dense: 4px;
--tds-border-radius--circle: 100%;
--tds-border-radius--outline-only: 0.001px;
--tds-border-style: solid;
--tds-border-width--large: 3px;
--tds-border-width--medium: 2px;
--tds-border-width--small: 1px;
--tds-box-shadow--large: 0 8px 16px 0 rgba(0,0,0,.16);
--tds-box-shadow--large-reverse: 0 -8px 16px 0 rgba(0,0,0,.16);
--tds-box-shadow--medium: 0 8px 16px 0 rgba(0,0,0,.12);
--tds-box-shadow--off: 0 0 0 0 transparent;
--tds-box-shadow--small: 0 4px 8px 0 rgba(0,0,0,.08);
--tds-font-size--10: 10px;
--tds-font-size--20: 12px;
--tds-font-size--30: 14px;
--tds-font-size--40: 17px;
--tds-font-size--50: 20px;
--tds-font-size--55: 23px;
--tds-font-size--60: 24px;
--tds-font-size--70: 28px;
--tds-font-size--75: 34px;
--tds-font-size--80: 40px;
--tds-line-height--10: 18px;
--tds-line-height--20: 20px;
--tds-line-height--30: 20px;
--tds-line-height--40: 24px;
--tds-line-height--50: 24px;
--tds-line-height--60: 28px;
--tds-line-height--70: 36px;
--tds-line-height--75: 44px;
--tds-line-height--80: 48px;
--tds-line-height--unitless: 1.414;
--tds-opacity--100: 1;
--tds-opacity--30: 0.3;
--tds-opacity--50: 0.5;
--tds-opacity--70: 0.7;
--tds-opacity--transparent: 0;
--tds-padding--card: 24px;
--tds-padding--card--dense: 16px;
--tds-border-width--hairline: 0.5px;
--tds-base-font_family: var(--tds-font-family--combined);
--tds-base-font_size: var(--tds-font-size--30);
--tds-base-line_height: var(--tds-line-height--30);
--tds-color--error: var(--tds-color-red-10);
--tds-color--hairline: var(--tds-color-grey-50);
--tds-color--inverse: var(--tds-color-white);
--tds-color--primary: var(--tds-color-blue-30);
--tds-color--primary-highlight: var(--tds-color-blue-20);
--tds-color--rgb-shade: 0,0,0;
--tds-color--rgb-shade--inverse: 255,255,255;
--tds-color--scrim--semitransparent: hsla(0,0%,100%,.7);
--tds-color--secondary: var(--tds-color-grey-10);
--tds-color--secondary-accent: var(--tds-color-grey-50);
--tds-color--secondary-highlight: var(--tds-color-black);
--tds-color--tertiary: var(--tds-color-grey-70);
--tds-color--tertiary-highlight: var(--tds-color-grey-65);
--tds-caption--color: var(--tds-color-grey-30);
--tds-dialog--background-color: var(--tds-color-white);
--tds-form-label--color: var(--tds-color-grey-30);
--tds-heading--color: var(--tds-color-grey-10);
--tds-pill--blur-color: rgba(0,0,0,.048);
--tds-pill--blur-color-highlight: rgba(0,0,0,.072);
--tds-text--color: var(--tds-color-grey-20);
--tds-text--color--light: var(--tds-color-grey-30);
--tds-text--color--placeholder: var(--tds-color-grey-40);
--tds-text--color--primary: var(--tds-color-blue-30);
--tds-toggle--background-color: hsla(0,0%,59%,.1);
--tds-toggle--fill-color: var(--tds-color-white);
--tds-text--contrast-high: var(--tds-color-grey-10);
--tds-text--contrast-low: var(--tds-color-grey-30);
--tds-text--contrast-medium: var(--tds-color-grey-20);
--tds-code-bg-color: var(--tds-color-grey-70);
--tds-code-border-color: var(--tds-color-grey-60);
--tds-code-color: var(--tds-text--color);
--tds-color--focus: var(--tds-color-grey-35);
--tds-outline--focus: 2px solid var(--tds-color--focus);
--tds-background-image--check: url('data:image/svg+xml;charset=utf-8,<svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill="hsl(218, 7%, 24%)" d="M6.592 11.58a.748.748 0 0 1-.53-.22L3.22 8.517a.75.75 0 1 1 1.06-1.061l2.312 2.312L11.72 4.64a.75.75 0 1 1 1.06 1.06l-5.658 5.66a.748.748 0 0 1-.53.22z"/></svg>');
--tds-background-image--minus: url('data:image/svg+xml;charset=utf-8,<svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill="hsl(218, 7%, 24%)" d="M13 8a.75.75 0 0 1-.75.75h-8.5a.75.75 0 0 1 0-1.5h8.5A.75.75 0 0 1 13 8z"/></svg>');
color: var(--tds-theme-foreground);
--tds-border-radius--pill: var(--tds-size--half);
--tds-data-table--font-size: 14px;
--tds-height--pill: var(--tds-size--5x);
--tds-form--gap: var(--tds-size--3x);
--tds-form--indent: 0;
--tds-form-input--collapsed-inline-size: var(--tds-size--5x);
--tds-form-input--collapsed-padding-inline-start: var(--tds-size--1x);
--tds-form-input-choice--check-size: var(--tds-size--2x);
--tds-form-input-choice--radio-size: 10px;
--tds-height--choice: var(--tds-size--3x);
--tds-banner--padding: var(--tds-size--2x);
--tds-btn--font-size: var(--tds-font-size--30);
--tds-card--border-radius: var(--tds-border-radius--card);
--tds-card--padding: var(--tds-padding--card);
--tds-content_container--inline-size: 100%;
--tds-content_container--max_width: 100%;
--tds-content_container--gutter: var(--tds-size--6x);
--tds-icon--bg: transparent;
--tds-icon--size: 24px;
--tds-gutter: var(--tds-size--3x);
--tds-gutter--half: calc(var(--tds-size--3x)/2);
--tds-gutter--negative: calc(var(--tds-size--3x)*-1);
--tds-gutter--half_negative: calc(var(--tds-gutter--negative)/2);
--tds-shell-footer-height: initial;
--tds-shell-header-height: var(--tds-size--7x);
--tds-modal--height: auto;
--tds-modal--width: 772px;
--tds-modal-backdrop--rgb: 0,0,0;
--tds-page-layout--footer-start-space: var(--tds-size--12x);
--tds-page-layout--title-end-space: var(--tds-size--4x);
--tds-page-layout--title-start-space: var(--tds-size--6x);
--tds-page-layout--title-top-slot-space: var(--tds-size--1x);
--tds-site-header--height: var(--tds-size--7x);
--tds-switch_toggle--font-size: var(--tds-font-size--20);
--tds-switch_toggle--size: 32px;
--tds-table--vertical-align: middle;
--tds-table-background-color: transparent;
--tds-table-border_color: var(--tds-color-grey-50);
--tds-table-border_spacing: 0;
--tds-table-border_width: 1px;
--tds-table-caption-background-color: transparent;
--tds-table-caption-top: 0;
--tds-table-header-font_size: var(--tds-font-size--30);
--tds-table-padding--horizontal: var(--tds-size--2x);
--tds-table-padding--vertical: var(--tds-size--2x);
--tds-table-deux-table-border-width: 1px;
--tds-table-deux-table-cell-align-items: normal;
--tds-table-deux-table-cell-before-padding-block-end: 0;
--tds-table-deux-table-cell-padding-horizontal: var(--tds-size--1x);
--tds-table-deux-table-cell-padding-vertical: var(--tds-size--1x);
--tds-table-deux-table-cell-position: static;
--tds-table-deux-table-cell-vertical-align: middle;
--tds-table-deux-table-column-inline-size: auto;
--tds-table-deux-table-column-min-inline-size: 0;
--tds-table-deux-table-header-font-size: var(--tds-table-header-font_size);
--tds-table-deux-table-header-font-weight: var(--tds-font-weight--book);
--tds-table-deux-table-header-line-height: var(--tds-base-line_height);
--tds-heading--font-weight: 500;
--tds-heading--letter-spacing: 0;
--tds-heading--text-transform: none;
--tds-spacer-base: var(--tds-size--half);
--tds-spacer-1x: var(--tds-spacer-base);
--tds-spacer-2x: calc(var(--tds-spacer-base)*2);
--tds-spacer-3x: calc(var(--tds-spacer-base)*3);
--tds-spacer-4x: calc(var(--tds-spacer-base)*4);
--tds-spacer-5x: calc(var(--tds-spacer-base)*5);
--tds-spacer-6x: calc(var(--tds-spacer-base)*6);
--tds-spacer-8x: calc(var(--tds-spacer-base)*8);
--tds-spacer-10x: calc(var(--tds-spacer-base)*10);
--tds-spacer-12x: calc(var(--tds-spacer-base)*12);
--tds-spacer-14x: calc(var(--tds-spacer-base)*14);
--tds-spacer-16x: calc(var(--tds-spacer-base)*16);
--tds-spacer-18x: calc(var(--tds-spacer-base)*18);
--tds-spacer-20x: calc(var(--tds-spacer-base)*20);
--tds-spacer-24x: calc(var(--tds-spacer-base)*24);
--tds-spacer-32x: calc(var(--tds-spacer-base)*32);
--tds-animate-transition-duration--medium: 600ms;
--tds-animate-transition-duration--short: 500ms;
--tds-animate-transition-function--base: linear;
--tds-animate-transition-function--mktg: cubic-bezier(0.165,0.84,0.44,1);
--tds-animate-transition-property: opacity;
--tds-animate-transition_duration--long: 1500ms;
--tds--fade-in: tds--fade-in 1s ease;
--tds--pulsing: tds--pulsing 1.5s infinite ease-in-out;
--tds--rotating: tds--rotating 1.5s infinite linear;
--tcl-section-background-color: var(--tds-color--white);
--tcl-grid-four-column-inline-size: 432px;
--tcl-grid-three-column-inline-size: 318px;
--tcl-grid-two-column-inline-size: 204px;
--tcl-showcase-screen-block-size: auto;
--tcl-showcase-screen-inline-size: auto;
--chrome-status-bar-height: var(--tds-size--6x);
--safari-status-bar-height: calc(var(--tds-size--1x)*11);
--tcl-icon--border-color: var(--tds-theme-foreground-high-contrast);
--tcl-showcase-down-arrow-display: flex;
--tcl-section-padding-desktop-block-end: 0;
--tcl-section-padding-desktop-block-start: 0;
--tcl-section-padding-mobile-block-end: 0;
--tcl-section-padding-mobile-block-start: 0;
--tcl-section-padding-tablet-block-end: 0;
--tcl-section-padding-tablet-block-start: 0;
--tcl-section-end-gradient-block-size: 20%;
--tcl-section-end-gradient-opacity: 0.5;
--tcl-section-end-gradient-end: transparent;
--tcl-section-end-gradient-start: #000;
--tcl-section-start-gradient-block-size: 20%;
--tcl-section-start-gradient-opacity: 0.5;
--tcl-section-start-gradient-end: transparent;
--tcl-section-start-gradient-start: #000;
--tcl-component-aspect-ratio: auto;
--tcl-component-aspect-ratio-asset-top: 0;
--tcl-component-aspect-ratio-asset-transform: none;
--tcl-component-aspect-ratio-polyfill: 0;
--tcl-component-mobile-aspect-ratio: auto;
--tcl-component-mobile-aspect-ratio-polyfill: 0;
--tcl-component-tablet-aspect-ratio: auto;
--tcl-component-tablet-aspect-ratio-polyfill: 0;
--tcl-header-background-color: var(--tds-scrim-background,transparent);
--tcl-image-aspect-ratio-1-1-block-size: 100vw;
--tcl-image-aspect-ratio-16-9-block-size: 177.77778vw;
--tcl-image-aspect-ratio-3-4-block-size: 75vw;
--tcl-image-aspect-ratio-5-3-block-size: 166.66667vw;
--tcl-image-asset-block-size: auto;
--tcl-image-asset-border-radius: 0;
--tcl-image-asset-display: block;
--tcl-image-asset-float: none;
--tcl-image-asset-inline-size: 100%;
--tcl-image-asset-inset-block-end: 0;
--tcl-image-asset-inset-block-start: 0;
--tcl-image-asset-inset-inline-start: 0;
--tcl-image-asset-margin-block-start: 0;
--tcl-image-asset-margin-inline-end: 0;
--tcl-image-asset-margin-inline-start: 0;
--tcl-image-asset-max-inline-size: none;
--tcl-image-asset-min-inline-size: 0;
--tcl-image-asset-object-fit: cover;
--tcl-image-asset-object-position-x: center;
--tcl-image-asset-object-position-y: center;
--tcl-image-asset-opacity: 1;
--tcl-image-asset-position: static;
--tcl-image-asset-transform: none;
--tcl-image-asset-visibility: visible;
--tcl-image-inline-size: 100%;
--tcl-image-overflow: visible;
--tcl-image-position: relative;
--tcl-image-end-gradient-size: 20%;
--tcl-image-end-gradient-opacity: 0.5;
--tcl-image-end-gradient-end: transparent;
--tcl-image-end-gradient-start: #000;
--tcl-image-start-gradient-size: 20%;
--tcl-image-start-gradient-opacity: 0.5;
--tcl-image-start-gradient-end: transparent;
--tcl-image-start-gradient-start: #000;
--tcl-order-block-size: 100vh;
--tcl-order-buttons-padding-block: 0;
--tcl-order-buttons-justify-content: flex-start;
--tcl-order-copy-text-align: center;
--tcl-order-inline-size: 100%;
--tcl-specs-table-padding-block-start: var(--tds-size--13x);
--tcl-specs-table-padding-block-end: var(--tds-size--13x);
--tcl-specs-table-heading-padding-block-end: 0;
--tcl-specs-table-tab-panel-padding-block-start: var(--tds-size--7x);
--tcl-specs-table-grid-columns: 10;
--tcl-specs-table-row-with-image-grid-columns: 6;
--tcl-specs-table-nav-grid: "heading heading heading heading tabs tabs tabs tabs tabs tabs";
--tcl-specs-table-row-grid: "spec spec spec spec spec spec spec spec spec spec";
--tcl-specs-table-row-with-image-grid: "spec spec spec spec spec spec image image image image";
--tcl-specs-table-divider-margin-block-start: var(--tds-size--1x);
--tcl-specs-table-divider-margin-block-end: var(--tds-size--5x);
--tcl-section-header-group-block-size: auto;
--tcl-section-header-group-buttons-align-items: stretch;
--tcl-section-header-group-buttons-display: block;
--tcl-section-header-group-buttons-flex-grow: 0;
--tcl-section-header-group-display: block;
--tcl-section-header-group-flex-flow: row nowrap;
--tcl-card-border: 1px solid var(--tds-theme-border);
--tcl-card-copy-display: block;
--tcl-card-heading-padding-block-end: var(--tds-size--1x);
--tcl-card-icon-size: var(--tds-size--3x);
--tcl-card-overflow: hidden;
--tcl-card-padding: var(--tds-size--3x);
--tcl-ratings-square-content-inline-padding: var(--tds-size--2x);
--tcl-ratings-square-copy-text-align: start;
--tcl-ratings-square-heading-justify-content: flex-start;
--tcl-video-asset-block-size: auto;
--tcl-video-asset-display: block;
--tcl-video-asset-inline-size: 100%;
--tcl-video-asset-inset-block-end: 0;
--tcl-video-asset-inset-block-start: 0;
--tcl-video-asset-inset-inline-start: 0;
--tcl-video-asset-margin-block-start: 0;
--tcl-video-asset-margin-inline-end: 0;
--tcl-video-asset-margin-inline-start: 0;
--tcl-video-asset-object-fit: cover;
--tcl-video-asset-object-position-x: center;
--tcl-video-asset-object-position-y: center;
--tcl-video-asset-position: static;
--tcl-video-asset-transform: none;
--tcl-video-border-radius: 0;
--tcl-video-duration-inset-block-end: var(--tds-size--2x);
--tcl-video-duration-inset-inline-end: var(--tds-size--3x);
--tcl-video-end-gradient-end: transparent;
--tcl-video-end-gradient-opacity: 0.5;
--tcl-video-end-gradient-size: 20%;
--tcl-video-end-gradient-start: #000;
--tcl-video-inline-size: 100%;
--tcl-video-overflow: visible;
--tcl-video-position: relative;
--tcl-video-start-gradient-end: transparent;
--tcl-video-start-gradient-opacity: 0.5;
--tcl-video-start-gradient-size: 20%;
--tcl-video-start-gradient-start: #000;
--tcl-badge-speedometer-fractional-as-percent: 0%;
--tcl-badge-speedometer-integral-as-percent: 0%;
--tcl-badge-align: center;
--tcl-badge-icon-margin: 0 auto;
--tcl-badge-icon-padding: 0;
--tcl-badge-inline-size: calc(var(--tds-size--1x)*20);
--tcl-badge-icon-inline-size: calc(var(--tds-size--3x) + var(--tds-size--half));
--tcl-badge-transition-delay: 0.15s;
--tcl-badges-gallery-block-size: 100%;
--tcl-badges-gallery-max-block-size: 100%;
--tcl-asset-scale: 1;
--tcl-callout-block-size: 100%;
--tcl-callout-inset-block-size: 100%;
--tcl-callout-inset-inline-start: 100%;
--tcl-callouts-block-size: 100%;
--tcl-callouts-font-size: var(--tds-font-size--30);
--tcl-callouts-scale-by: 1;
--tcl-left-offset: 0;
--tcl-top-offset: 0;
--tcl-component-padding-desktop-block-start: 0px;
--tcl-component-padding-tablet-block-start: 0px;
--tcl-component-padding-mobile-block-start: 0px;
--tcl-component-padding-desktop-block-end: 0px;
--tcl-component-padding-tablet-block-end: 0px;
--tcl-component-padding-mobile-block-end: 0px;
--tcl-carousel-v2-inline-size: 100%;
--tcl-carousel-v2-slides-container-padding-block-start: var(--tds-size--7x);
--tcl-carousel-v2-section-header-group-padding-block-start: var(--tds-size--9x);
--tcl-carousel-v2-slides-border-radius: var(--tds-btn--border-radius,4px);
--tcl-carousel-v2-slides-margin-inline-end: calc(var(--tds-size--3x)*-1);
--tcl-carousel-v2-slides-margin-inline-start: calc(var(--tds-size--3x)*-1);
--tcl-carousel-v2-toggle-panel-heading-flex-grow: 0;
--tcl-carousel-v2-toggles-padding-block-end: var(--tds-size--9x);
--tcl-carousel-v2-toggles-padding-block-start: var(--tds-size--5x);
--tcl-carousel-v2-toggle-content-block-size: auto;
--tcl-border-radius--pill: calc(var(--tds-border-radius--pill)*2);
--tcl-carousel-v2-block-size: 900px;
--tcl-carousel-v2-slides-grid-area: 1/-1;
--tcl-asset-scale-by: 1;
--tcl-text-on-media-v2--background: none;
--tcl-text-on-media-v2--background-color: transparent;
--tcl-text-on-media-v2--gradient-overlay-direction: to bottom;
--tcl-text-on-media-v2--gradient-overlay-end: transparent;
--tcl-text-on-media-v2--gradient-overlay-start: #000;
--tcl-text-on-media-v2--overlay-block-size: calc(100% + 2px);
--tcl-text-on-media-v2--overlay-inline-size: 100%;
--tcl-text-on-media-v2-background-color-overlay: transparent;
--tcl-text-on-media-v2-block-size: 100%;
--tcl-text-on-media-v2-section-header-align-self: flex-start;
--tcl-text-on-media-v2-section-header-order: auto;
--tcl-hero-block-size: 100vh;
--tcl-hero-inline-size: 100%;
--gradient-size-w: 80.84%;
--gradient-size-h: 126.38%;
--gradient-position-x: 42.35%;
--gradient-position-y: -21.69%;
--tcl-button-group-grid-auto-flow: row;
--tcl-button-group-inline-size: fit-content;
--tcl-button-group-button-inline-size: 204px;
--tcl-button-backdrop-filter: none;
--tcl-button-inline-size: auto;
--tcl-button-margin-block-end: 0;
--tcl-button-margin-block-start: 0;
--tcl-button-margin-inline-end: 0;
--tcl-button-margin-inline-start: 0;
--tcl-button-min-inline-size: 0;
--tcl-button-max-inline-size: none;
--tcl-button-text-transform: inherit;
--tcl-body-accessible-background-color: #757575;
--tcl-body-background-color: var(--tds-color--white);
--tds-border_width--hairline: 0.5px;
--tds-border_width--small: 1px;
--tds-border_width--medium: 3px;
--tds-border_style--base: solid;
--tsla-base-spacer: 8px;
--tds-font-family--combined: var(--tds-font-family-latin),var(--tds-font-family)!important;
--tds-font-family-combined: var(--tds-font-family-latin),var(--tds-font-family)!important;
font-family: var(--tds-font-family-combined,--tds-base-font_family,system);
--vh: 8px;}