*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* ::before,
* ::after { box-sizing: inherit;
}

html {
    font-size: 62.5% ;
    color: white;
    font: 12px;
}


video{
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
   
    
}

video {
    min-width: 100%;
    min-height: 100%;
    width:125%;
    height: 125%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
    
}

header{
    display: flex;

   
    padding: 1rem 1rem;
    margin-top: 0%;
    background-image: radial-gradient(var(--gradient-size-w) var(--gradient-size-h) at var(--gradient-position-x) var(--gradient-position-y), rgba(108, 148, 255, .92) 0, rgba(0, 0, 0, .92) 100%);
    color:white;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
    gap: 5px; 
    color: white; 
}
header, div, .tds-text--h5 ,p #tds-text--body  ,a link{
    color: white;
    align-items: center;
}
a :link{
    color: white;
}

body {
    box-sizing: border-box;
    font-weight: 400;
    color: white;
  
    margin-top: 0%;
    
}

ul{
    list-style-type: none;
    display: flex;
    font-weight: bold;
    

}
 
a{
    text-decoration: none;
   
}


.left-nav,.right-nav,.center-nav{
  
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
    gap: 18px; 
}
.center-nav ul, .right-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.center-nav ul li, .right-nav ul li {
    display: inline;
    margin-left: 20px;
}
.center-nav{
    display: block;
    justify-content: center;
    align-items: center;
}

.center-nav, ul ,li {
    font-size: 1.3rem;
    font-weight: bold;
    
        display: flex;
        justify-content: center; 
        align-items: center; 
    gap: 3rem;
}

.left-nav  {
   
    border-image: none;
   align-items: center;
} 

.left-nav,ul,li{
    float: left;
}


.right-nav{
    
   
        display: flex;
        justify-content: space-between;
        align-items: center;
    
    
   
}


.right-nav, ul ,li{
    gap: 2rem;
    float: right;
    text-align: right;
    justify-content: space-between;
    align-items: center;
    display: flex;

}


#showcase{
   background :url(./Model-3-Main-Hero-Desktop-NA-New\ \(1\).mp4);
 height: 700px 700px;
  
   align-items: center;
  
}

#showcase,.container,.showcase-content,h3,h4,h2{
    color: white;
 padding: 700; 
 display: block;
 text-align: center;
}
section{
    text-align: center;
   
    align-items: center;

  display: flex;
  gap: 1rem;
   
  

}

h4{
color: white;
text-align: center;

}

button,.large {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    align-items: center;
    display: flex;
  


}
.large-square {
    background-color: white;
   color: black;
}
.large-square-border {
    background-color: transparent;
    border: 2px solid black;
    color:black;
}



body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 14px;
    color: #fff;
    background-color: black;
    line-height: 1.6;
    font-weight: 500;
    margin: 0;
    padding: 0;
  }
  
  #video-background {
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  
  .banner {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-image: radial-gradient(54.97% 272.54% at 272.54% -134.72%, rgba(108, 148, 255, .92) 0, rgba(0, 0, 0, .92) 100%);
    transition: 54.97% .5s ease-out, 272.54% .5s ease-out, 27.36% .5s ease-out, -134.72% .5s ease-out;
    height: 52px;
  
  }
  
  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
    height: 56px;
  }
  
  .logo {
    width: 120px;
  }
  
  .menu {
    display: flex;
  }
  
  .menu-item {
    list-style-type: none;
    padding: 8px 16px;
  }
  
  .menu-item-link {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
  }
  
  .side-menu>i {
    padding: 8px 4px;
    font-size: 20px;
  }
  
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 82vh;
  }
  
  .title-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 16px;
  }
  
  .bottom-container {
    display: flex;
    flex-direction: column;
  }
  
  .spacer {
    flex-grow: 1;
  }
  
  .specs {
    display: flex;
    justify-content: center;
  }
  
  .spec {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
    height: 72px;
    text-align: center;
  }
  
  .cta-container {
    display: flex;
    justify-content: center;
    margin-top: 32px;
  }
  
  .btn {
    width: 235px;
    height: 40px;
  }
  
  .primary-btn {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
  }
  
  .outline-btn {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .outline-btn:hover {
    background-color: #ffffff;
  }
  
  .primary-btn:hover {
    background-color: #b1b1b1;
    color: #000000
  }
  
  .car-header {
    font-size: 23px;
    font-weight: 400;
    line-height: 30px;
  }
  
  .car-model {
    margin: 0;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
  }
  
  .car-price {
    font-size: 17px;
    font-weight: 600;
  }
  
  h2 {
    margin: 0;
  }
  
  p {
    margin: 0;
  }
  
  .chat {
    position: fixed;
    width: 52px;
    height: 40px;
    border-radius: 4px;
    background-color: #393c41;
    bottom: 0;
    right: 0;
    margin-right: 32px;
    margin-bottom: 32px;
  }
  
  .bubble-icon {
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -10px 
  }
  
  .section {
    margin-top: 32px;
  }
  
  .section-img {
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  
  .section-title-wrapper {
    display: flex;
    justify-content: center;
  }
  
  .section-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 40px;
    width: 45%;
  }
  
  .section-title {
    font-size: 24px;
  }
  
  .section-description {
    margin-top: 20px;
  }